<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home</title>
  </head>
  <body>
    <form  action="{% url 'result' %}" >
      PClass:
      <input type="text" name="PClass" value="">
      <br>
      <br>
      Title:
      <input type="text" name="Title" value="">
      <br>
      <br>
      Sex:
      <input type="text" name="Sex" value="">
      <br>
      <br>
      Age:
      <input type="text" name="Age" value="">
      <br>
      <br>
      SibSp:
      <input type="text" name="SibSp" value="">
      <br>
      <br>
      Parch:
      <input type="text" name="Parch" value="">
      <br>
      <br>
      Fare:
      <input type="text" name="Fare" value="">
      <br>
      <br>
      Embarked:
      <input type="text" name="Embarked" value="">
      <br>
      <br>
      <input type="submit" name="" value="Submit">
    </form>
  </body>
</html>
